html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: white;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

span {
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    background-color: white;
    font-weight: 900;
    text-align: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 200px;
}
.main {
    display: flex;
    padding: 60px 200px;
    gap: 40px;
    background-color: #1F2937;
}

.hero1,
.hero2 {
    flex: 1;
}

.hero2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section {
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.card{
    border: 2px solid blue;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.card-content{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.quotes {
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 200px;
}

.quotes i {
    font-size: 36px;
    color: #1F2937;
}

.quotes p {
    color: black;
    margin-left: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
}